.header {
    grid-area: header;
    background-color: tomato;
    text-align: center;
 
}

.main{
    grid-area: main;
    background-color: lime;
    
}

.sidebar{
    grid-area: sidebar;
    background-color: yellow;
   
    text-align: center;
 
}

.footer{ grid-area: footer;
background-color: blueviolet;

}

.box{
    border: solid 1px black;
    
 
    
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header  '
    'sidebar main '
    'footer footer'
    ;
    grid-template-columns: 0.5fr 5fr;

    

}

.tarjetas{ display: flex;
flex-direction: row;
flex-wrap: wrap;}




.main-item{
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    margin: 15px;
    align-items: center;
    height: 350px;
    width: 400px;

    
}

.main-item img{
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 30px;
    
}

@media screen (max-width:600px)